.top-bar-div{
    background-color: gainsboro;
    position: relative;
    z-index: 9;
}

.logo-word, .login-medium-spare, .login-right {
    position: relative;
    display: inline-block;
}

.logo-word{
    width: 10%;
    height: auto;

}

.login-medium-spare{
    width: 70%;
    height: auto;
}

.login-right{
    width: 20%;
    height: auto;
}

.login-detail{
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    border: 1pt gray solid;
}

.LogOut{
    border-top: 1pt dotted black;
}

.backIndex:hover, .userDetail:hover, .LogOut:hover{
    background-color: beige;
}

/* .logo-word {
    align-items: center;
    color: rgb(38, 38, 38);
    display: flex;
    text-decoration: none;
}

.logo-medium.spare {
    display: left;
    position: relative;
    top: 7px;
    left: 10px;
    border: black 1px solid;
}

.login-info {
    align-items: center;
    display: left;
    justify-content: center;
}

.login-choose {
    background: #fff;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 6px 2px rgb(60 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
    cursor: pointer;
    font: 400 14px "Roboto",RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    z-index: 20000;
    background-clip: content-box;
    border: solid 1px #ccc;
    border: solid 1px rgba(0,0,0,.3);
} */